
$header-primary: rgba(0, 0, 0, 0.5);
$body-bg:#9775AA;
$links-primary:#3D1255;
$blend-primary:#764B8E;
$heading-fonts:  'Lato', Roboto;
$paragrah-fonts: 'Raleway', sans-serif;
$break-small: 320px;
$break-large: 1200px;
$information-phone: "only screen and (max-width : 320px)";
