.boxes{
  width: 28.5%;
  height: auto;
  display: inline;
  float: left;
 }


.boxes > img {
   width: 27%;
   height: 4.5em;
   margin-left: 19%;
   position: relative;
   object-fit: contain;
}

.info-data{
  width: 300px;
  height: 300px;
  z-index: 9;
  background: #FFF;
  position: absolute;
  top: -157px;
  left: -37px;
  border: 2px solid #ccc;
  -webkit-box-shadow: 2px -3px 5px -3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px -3px 5px -3px rgba(0, 0, 0, 0.75);
  box-shadow: 2px -3px 5px -3px rgba(0, 0, 0, 0.75);
  display: none;
}

.closeButton{
  display: block;
  width: 40px;
  height: 40px;
  position: absolute;
  top: -11px;
  right: -19px;
  
  &--svg{
    background: #181818;
    font-size: 16px;
    line-height: 15px;
    text-align: center;
    margin-left: 23%;
    font-size: 19px;
    color: #FFF;
  }
}
.code--heading{
  text-align: center;
  color: #a4a4a4;
  margin-top: 3%;
  
  &--heading__text{
   font-size: 16px;
   text-transform: uppercase;

   }
}

pre{
  width: 100%;
  height: auto;
  background: #eee;
  }

code{
  width: 46%;
  height: auto;
  position: relative;
  left: -247px;
  font-size: 12px !important;
  color: #a4a4a4;
}
