.section{
  width: 100%;
  position: relative;


  &--section_1{
    background-color: #fff;
    height: 46em;
  }

   &--header{
     position: relative;
     margin-top: 8%;
     margin-bottom: 3%;
     left: 50%;
     transform: translate(-50%, -50%);
      h2{
           text-align: center;
      }
      p{
          text-align: center;
      }
   }
}